.internal
build
.externalToolBuilders
.DS_Store
Thumbs.db
.lock-wscript
*.pyc
.project
.cproject
builtins
.luacheckcache
node_modules/
bob.jar
.firebaserc
package-lock.json
yarn.lock
.firebase
*.log
/haxe/bin
bin
/app/assets/images/refs
/app/monstrarium_uuid
.idea
serviceAccount.json
db_scripts/dev
db_scripts/justai
db_scripts/backup
shared/prepare_words/output
shared/test/output
haxe/projects/prepare_words/words
data/words_can_made_db
data/words_can_made_db_list
data/words_can_made_db_ru
data/words_can_made_db_list_ru
data/words_db_list.json
data/words_db*
data/frequency*
haxe/projects/words_frequency/data/dictionaries*
backend/junctiongame
app/words_db.json